@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: 'Karla';
    background: #586cd0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a,
button {
    font-family: 'Fredoka';
    background-color: #586cd0;
    color: white;
    padding: 9px 20px;
    font-size: 18px;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    box-shadow: 0rem 0.5rem 0rem 0rem rgba(88, 108, 208, 0.22);
    /*rgb(149,147,255)*/
    border: none;
    text-decoration: none;
    border-radius: 1.125rem;
}

.bold {
    font-weight: 600;
}

a:hover,
button:hover {
    transform: scale(1.0425);
}

.container {
    max-width: 35rem;
    margin: 0 auto;
}

.content {
    background: #fbfbfb;
    padding: 36px;
    margin: 8px;
    border-radius: calc(1.5rem - 1px);
    align-items: center;
}

.question {
    font-size: 20px;
    margin-bottom: 25px;
}

.options button {
    display: block;
    width: 100%;
    margin: 12px 0;
}

.home {
    align-items: start;
}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result {
    font-size: 22px;
    color: #586cd0;
    margin-top: 20px;
}

.dropdown {
    margin-top: 20px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

details {
    margin-bottom: 10px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}